@font-face {
    font-family: 'Castellar';
    src: url('fonts/castellar-regular/Castellar\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.navbar
{
    display: flex;
    align-items: center;
}

.header-logo
{
    margin-top: 30px;
    margin-left: 45px; /* LaTabla45 referenfia */
    font-size: 30px; /* Manuel30 referencia */
    background: rgb(165, 171, 172);
    width: 10vw;
    padding: 15px 40px 15px 15px;
    color: rgb(73, 78, 77);
    border-radius: 0px 20px 20px 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}


.menu-drop
{
    background: rgb(112, 109, 109);
    width: 81.5vw;
    height: 10vh;
    margin-top: 0px;
    align-items: center;
    border-bottom-right-radius: 20px;
    white-space: nowrap;
    font-size: 20px;

    position: absolute;
    left: 12rem;
    opacity: 0;
    transform: translateX(-100%); /* Inicialmente fuera de la pantalla a la izquierda */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Transiciones para opacidad y posición */
    display: block; /* Mantener en el flujo del documento para transiciones */

}

li{
    padding-top: 22px;
    list-style: none;
    display: inline-block;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
    color: white;
}

.menu-drop.show {
    opacity: 1;
    transform: translateX(0); /* Movimiento hacia la posición original */
    
}   

.menu-drop.hide {
    opacity: 0;
    transform: translateX(-100%); /* Movimiento fuera de la pantalla a la izquierda */
}

html, body {
    margin: 0;
    box-sizing: border-box; /* Cambiado de 0 a border-box */
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: url('Wallpaper.png');
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: cover  ;
    overflow-y: hidden;

    /* Capa semi-transparente para aclarar la imagen */
    background-color: rgba(255, 255, 255, 0.5); /* Un color blanco semitransparente */
    background-blend-mode: lighten; /* Mezcla la imagen con el color de fondo */

    /* Filtros para ajustar brillo y contraste */
    filter: brightness(0.982) contrast(1.1); /* Aumenta el brillo y el contraste */

}

.container {
    background-color: rgb(217, 243, 234);
    background: url(wallpaper.jpeg);
    background-position: center;
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    height: 77vh;
    width: 110vh;
    background-color: rgb(63, 59, 59);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.tabs-container {   
    display: flex;
    width: 108vh;
}

.tabs {
    background-color: rgb(134, 133, 132);
    padding: 10px 80px 10px 10px;
    display: flex;
    text-align: end;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 8px;
}

.terminal-inside {
    height: 60vh;
    width: 108vh;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 3px;
}

input {
    width: 107vh;
    background-color: rgb(34, 33, 33);
    border-style: none;
    color: azure;
    margin-bottom: 10px;
    font-weight: 600;
    padding: 7px;
    border: 1px solid rgb(208, 255, 249);
    border-radius: 4px;
}   

input:focus {
    border: 1px solid rgb(208, 255, 249);
    outline: none;
}

#response {
    width: 105vh;
    color: white;
    padding: 15px;
    word-wrap: break-word; /* Permite que el texto largo se ajuste al ancho del contenedor */
}

